.about_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: calc(100vw-40px);
  height: 100vh;
  background-image: url("../../assets/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 20px;
  padding-top: 100px;
  position: relative;
}
.title {
  font-size: 64px;
}
.sm_cont{
  position: absolute;
  bottom: -100px;
}
.para {
  font-size: 24px;
  text-align: center;
  padding: 0 12vw;
}
.card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.number {
  all: unset;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 10px;
}
.para2 {
  text-align: center;
}

@media screen and (max-width: 960px) {
  .about_container{
    height: 120vh;
  }
  .sm_cont{
    bottom: -180px;
  }
  .para{
    text-align: justify;
    padding: 0px;
  }
  .para2{
    text-align: justify;
  }
}