.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 70px; */
    margin: 30px;
  }
.profile_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 70vh;
    margin-right: 10vw;
}
.profile_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.profile_left{
    position: relative;
}
.profile_left_inner{
    position: absolute;
    width: 30vw;
    height: 85vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}
.profile_left_text{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}
.profile_left_heading{
    font-size: 100px;
    font-weight: 400;
}
.profile_input{
    padding: 10px;
    width: 400px;
}
.profile_img{
    width: 30vw;
    height: 85vh;  
    /* mask-image: linear-gradient(rgb(100, 100, 100)); */
}
.profile_input_div{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    /* row-gap: 10px; */
}

