.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 70px; */
    margin: 30px;
  }
.profile_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 70vh;
    margin-right: 10vw;
}
.profile_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.profile_input{
    padding: 10px;
    width: 400px;
}
.profile_img{
    width: 30vw;
    height: 85vh;  
    /* mask-image: linear-gradient(rgb(100, 100, 100)); */
}
.profile_input_div{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    /* row-gap: 10px; */
}

