/* Normal Styles */

.btn,
.fill {
  padding: 0.8em 1.8em;
  border: 2px solid #4385f5;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #4385f5;
}

.btn::before,
.fill::before {
  content: "";
  width: 0;
  height: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #4385f5;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before,
.fill:hover::before {
  width: 105%;
}

.btn:hover {
  color: #fff;
}

/* Filled Styles */

.fill {
  color: #4385f5;
}
.fill::before {
  background: #4385f5;
}
.fill:hover {
  color: #fff;
}
