.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 13px;
}

.dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #4385f5;
  margin: 0.4rem;
  opacity: 0.6;
  font-size: 15px;
}

.dot:nth-child(1) {
  animation: animateLoader1 1.5s infinite;
}

.dot:nth-child(2) {
  animation: animateLoader1 1.3s infinite;
}

.dot:nth-child(3) {
  animation: animateLoader1 1.7s infinite;
}

.dot:nth-child(4) {
  animation: animateLoader1 1.1s infinite;
}

.dot:nth-child(5) {
  animation: animateLoader1 0.9s infinite;
}

.dot:nth-child(6) {
  animation: animateLoader1 0.7s infinite;
}

.dot:nth-child(7) {
  animation: animateLoader1 0.5s infinite;
}

.dot:nth-child(8) {
  animation: animateLoader1 1.3s infinite;
}

.dot:nth-child(9) {
  animation: animateLoader1 1.5s infinite;
}

@keyframes animateLoader1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
