.landing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  padding-left: 70px;
  position: relative;
}
.main_div {
  position: absolute;
  bottom: -100px;
}
.image {
  width: 90vw;
  height: 467px;
  filter: grayscale(0.15);
}
.btn_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}
