.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 30px;
  padding-top: 5px;
  background-color: #ffffffb7;
}
.navbar_logo {
  width: 180px;
}
.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav_logo {
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav_menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav_links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
}
.fa-code {
  margin-left: 1rem;
}

.nav_item {
  line-height: 40px;
  margin-right: 1rem;
}
.fa .fas {
  color: #fff;
}
.nav_item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav_item:hover:after {
  width: 100%;
  background: #3c91e6;
}

.nav_item .active {
  color: #3c91e6;
  border: 1px solid #3c91e6;
}

.nav_icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    padding: 0;
    background: #3c91e6;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav_menu.active {
    margin: 0;
    padding: 0;
    background: #8df5ff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav_item .active {
    color: #3c91e6;
    border: none;
  }
  .nav_links {
    margin: 0;
    padding: 1.5rem 0;
    width: 100%;
    display: table;
  }

  .nav_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}
