* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_image {
  width: 98.9vw;
}
.user_page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.user_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 150px;
}

.user_details_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.listings {
  margin-top: 100px;
}
.user_icon {
  border: 7px solid black;
  border-radius: 100%;
  margin: 24px;
}

.user_details_info span {
  padding: 8px;
}

.user_details_info h1,
.user_details_info p {
  padding: 4px;
}

.user_icon i {
  font-size: 100px;
  padding: 30px;
}

.edit_user_details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #3c91e6;
  border-radius: 10px;
  margin: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.edit_user_details i {
  font-size: 16px;
  padding: 10px;
  color: #3c91e6;
}

.layout_listing_details {
  list-style-type: none;
  text-decoration: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.layout_listing_details li {
  padding: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}

.layout_listing_mylisting button {
  all: unset;
  padding: 8px 24px;
  margin: 8px 16px 0 16px;
}

.layout_listing_mylisting button:focus {
  border-bottom: 3px solid #3c91e6;
}
