.team_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    color: #000;
}
.heading {
    font-size: 64px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}
.para {
    font-size: 23px;
    padding: 15px;
    text-align: justify;
    color: #787d82;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
}
.teams_img {
    width: 120px;
    position: absolute;
    top: -50px;
    border-radius: 30%;
}
.teams_title {
    margin-top: 50px;
    text-align: justify;
}

@media screen and (max-width:500px) {
    .cards{
        flex-direction: column;
    }    
}